body{
    font-family: sans-serif;
    background-image: url("./assets/Bg.png");
}

h1{
    text-align: center;
    color: white;
    font-weight: bold;
}

main{
   display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 100px;               
    margin-bottom: 20px;
}

.linha {
  display: flex;
  gap: 3px; 
  margin-bottom: 5px;
}

input{
    width: 50px;
    height: 50px;
    font-size: 35px;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    border: 4px solid #1B3E51;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    /*faz com que a linha branca, que espera você selecionar um texto suma*/
    caret-color: transparent;
    box-sizing: border-box;
}

input:focus{
  border-bottom-width: 8px;
}

.grade-jogo{
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#teclado{
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    border-radius: 8%;
    border: none;
    font-weight: bold;
    gap: 5px; 
    margin-top: 20px;
}

#teclado .tecla {
    width: 50px;
    height: 40px;
    font-size: 25px;
    justify-content: center;
    background-color: #1C4760;
    color: white;
    border: none;
    border-radius: 5px;
}

#teclado .tecla:hover{
  cursor: pointer;
}

#teclado .enter{
    width: 99px;
    height: 40px;
    font-size: 25px;
    justify-content: center;
    background-color: #1C4760;
    color: white;
    border: none;
    border-radius: 5px;
}

#teclado .enter:hover{
  cursor: pointer;
}

#teclado .apagar{
    width: 99px;
    height: 40px;
    font-size: 25px;
    justify-content: center;
    background-color: #1C4760;
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#teclado .apagar:hover{
  cursor: pointer;
}

#teclado .apagar img{
    width: 32px;
    height: 32px;
    object-fit: contain;
}

/*Classe que define as letras*/
.letra.correta{
  background-color: #518C71;
  border-color: #4B816B;
  pointer-events: none
}

.letra.presente{
  background-color: #F2BF5E;
  border-color: #F2B05E;
  pointer-events: none;
}

.letra.errada{
  background-color: #1C4760;
  border-color: #1C4760;
  pointer-events: none;
}

.letra.espera{
  background-color: #1C4760;
  opacity: 0.4;
  pointer-events: none;
}

.letra.ativa{
  background-color: transparent;
}

/*Mudar cor das teclas do teclado*/
#teclado .tecla.correta{
  background-color: #518C71;
  border-color: #4B816B;
}

#teclado .tecla.errada{
  background-color: #1C4760;
  opacity: 0.6;
}

#teclado .tecla.presente{
  background-color: #F2BF5E;
  border-color: #F2B05E;
}

/*JANELA DE REGRAS */
.modal {
  position: fixed; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*Escurecer ao redor da tela*/
  background-color: rgba(0, 0, 0, 0.6); 
  
  /* Centralizar o modal*/
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Conteudo que fica dentro do modal*/
.modal-conteudo {
  background-color: #122a3a;
  color: #fff;
  padding: 20px 30px;
  border: 5px solid #1B3E51;
  border-radius: 10px;
  width: 100%;
  max-width: 500px; 
  position: relative;
  line-height: 1.6;
}

/*Botão X para fechar*/
.fechar-modal {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
}
.fechar-modal:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/*Container para poder separar as letras no exemplo*/
exemplos {
  display: flex;
  flex-direction: column; 
  gap: 10px;
}

/* Classes de exemplo para as regras */
.letra-exemplo {
    display: inline-block;
    width: 30px; 
    height: 30px;
    line-height: 26px; 
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 10px;
    border: 4px solid;
}

.letra-exemplo.correta {
  background-color: #518C71;
  border-color: #4B816B;
}

.letra-exemplo.presente {
  background-color: #F2BF5E;
  border-color: #F2B05E;
}

.letra-exemplo.errada {
  background-color: #1C4760;
  border-color: #1C4760;
  opacity: 0.6;
}